@use "sass:math";

// Colors

$color-primary: hsl(193, 75%, 41%);
$color-secondary: hsl(271, 93%, 35%);
$color-accent: hsl(193, 75%, 51%);

$base-bg-color: hsl(0, 0%, 12%);
$base-input-color: hsl(0, 0%, 95%);

$base-shadow-color: hsl(0, 0%, 12%, 0.2);
$alt-shadow-color: hsl(0, 0%, 89%, 0.2);

$base-font-color: hsl(0, 0%, 88%);
$alt-font-color: hsl(0, 0%, 11%);

$base-font-size: 1.5rem;

$base-padding: 1rem;
$base-margin: 1rem;

$base-border-color: hsl(0, 0%, 5%);
$base-border: 1px solid $base-border-color;
$base-border-radius: 1rem;
$small-border-radius: 0.5rem;

$base-outline-color: hsl(271, 93%, 35%, 0.7);
$base-outline: 3px solid $base-outline-color;

$base-font-family: "Changa", sans-serif;
$alt-font-family: "Smooch Sans", sans-serif;

@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin btnInput {
	width: 100%;
	border: none;
	background-color: none;
	font-family: $base-font-family;
	color: $alt-font-family;
	border-radius: $small-border-radius;
	cursor: pointer;
}
